<h5 class="text-center mb-4">Please fill the below details to start quiz!!</h5>

<form [formGroup]="loginForm" class="loginForm">
  <div class="form-group mb-4">
    <label for="username">User Name</label>
    <input type="text" name="username" formControlName="username" class="form-control" placeholder="">
	<span *ngIf="username.invalid && username.touched" class="error">Please enter username</span>
  </div>
  <div class="form-group mb-4">
    <label for="category">Select Category</label>
    <select name="category" formControlName="category" class="form-control">
      <option *ngFor="let categorys of categoryOptions" [ngValue]="categorys.id">
		{{categorys.name}}
	  </option>
    </select>
	<span *ngIf="category.invalid && category.touched" class="error">Please Select category</span>
  </div>
  <div class="text-center mt-4">
	<button [disabled]="loginForm.invalid" (click)="userLogin()" routerLink="questions" type="button" class="btn btn-primary">Start Quiz</button>
  </div>
</form>
